$desktop: "min-width: 640px";
$mobile: "max-width: 639px";
$textcolor: #263238;
$brandcolor: #00c853;
$light-grey: #eceff1;
$grey: #cfd8dc;

$typeScale: 1.33;
$sizeBase: 18px;
$sizeS: $sizeBase / $typeScale;
$sizeL: $sizeBase * $typeScale;
$sizeXL: $sizeBase * $typeScale * $typeScale;

html,
body {
  color: $textcolor;
  height: 100%;
  font: 400 #{$sizeBase}/140% 'Jaldi', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

body {
  @media ($desktop) {
    overflow: hidden;
  }
}

.logo
{
    scale: 100%;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.divlogo
{
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logorodape
{
  scale: 30%;
  transition: all 0.3s ease-out;
}

section#rodape
{
  background-color:rgb(95, 228, 115);
  height: 200px;
}

.rodape
{
  width: 100%;
  height: 30vh;
  border-top: 3px solid;
  background-color:rgb(95, 228, 115);
  display: flex;
  flex-direction: row;
}
.logorodape:hover
{
  cursor: pointer;
  transform: scale(1.1,1.1);
}

.alinhamentodalogo
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 18vh;
}

.nome
{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 100%;
}

section#cabecalho
{
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid;
    background-color:rgb(95, 228, 115);
}

.alinhamentorodape
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vh;
}

.alinhamento
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.alinharrow
{
  display: flex;
  width: 100%;
  height: 100%;
}

.insta
{
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  display: flex;
  font-size: 20px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.divpai
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cantologo
{
    width: 33%;
    height: 100%;
}

.canto
{
    display: flex;
}

.btn2 {
  width: fit-content;
  min-width: 100px;
  height: 35px;
  padding: 8px;
  align-items: center;
  border-radius: 5px;
  border: 2.5px solid hwb(165 61% 34%, 50%);
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: hsl(120, 64%, 47%, 50%);;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  margin-left: 2%;
  margin-top: 0.5%;
  font-size: small;
  display: flex;
}

.btn2:hover {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 20px -18px;
}

.btn2:active {
  transform: scale(0.95);
}

.billing {
  margin-top: 36px;
  padding: 0 10px;
}

.billing-headline {
  margin-bottom: 10px;
}

.browserViewport {
  @media ($desktop) {
    height: 602px;
    -ms-overflow-style: none;
    overflow: scroll;
    width: 375px;
  }
}

.buttonCheckout {
  background: $brandcolor;
  border: none;
  bottom: 0;
  color: #fff;
  font: 700 #{$sizeBase} 'Jaldi', sans-serif;
  height: 60px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
}

.buttonCheckout-web {
  position: absolute;
  @media ($mobile) {
    display: none;
  }
}

.buttonCheckout-mobile {
  position: fixed;
  @media ($desktop) {
    display: none;
  }
}

.buttonCheckout:active {
  background: darken($brandcolor, 3%);
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

.checkboxGroup input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

.checkboxGroup > label {
  cursor: pointer;
}

.checkboxGroup > input[type="checkbox"]:checked ~ label::before {
  background:
    $brandcolor
    url(//my-assets.netlify.com/codepen/dailyui-002/ico_checkmark.svg)
    center center / 16px 13px
    no-repeat;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  top: 7px;
  transition: 150ms ease-out;
  position: relative;
  width: 25px;
}

.checkboxGroup > input[type="checkbox"]:not(:checked) ~ label::before {
  background: #fff center center / 16px 13px no-repeat;
  border: 2px solid $grey;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  top: 7px;
  transition: 150ms ease-out;
  position: relative;
  width: 25px;
}

.header {
  border-bottom: 1px solid $light-grey;
  height: 40px;
  display: block;
  position: relative;
  width: 100%;
}

.header-logo {
  color: $textcolor;
  font: 700 0.88rem 'Jaldi', sans-serif;
  left: 13px;
  top: 8px;
  position: absolute;
}

.header-logo::before {
  background: $textcolor;
  content: "";
  display: inline-block;
  height: 13px;
  margin: auto 10px auto auto;
  position: relative;
  top: 1px;
  transform: rotate(45deg);
  width: 13px;
}

.header-nav {
  background: url(//my-assets.netlify.com/codepen/dailyui-002/ico_menu.svg) no-repeat;
  height: 18px;
  position: absolute;
  top: 11px;
  right: 10px;
  width: 26px;
}

.iphoneInterface {
  @media ($desktop) {
    background:
      url(//my-assets.netlify.com/codepen/dailyui-002/img_statusbar.png)
      center center / 100% 100%
      no-repeat;
    height: 65px;
    width: 375px;
  }
}

.iphoneWrapper {
  @media ($desktop) {
    background: #ffffff;
    border-radius: 2px;
    margin-top: 3%;
    box-shadow: 0px 30px 100px rgba(0,0,0,0.35);
    height: 667px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 375px;
    // flex-shrink: 0;
  }
}

.screenPayment {
  padding-bottom: 100px;
}

.type-S {
  color: $textcolor;
  font: 700 #{$sizeS}/100% 'Jaldi', sans-serif;
}

.type-L {
  color: $textcolor;
  font: 700 #{$sizeL}/100% 'Jaldi', sans-serif;
}

.type-XL {
  color: $textcolor;
  font: 700 #{$sizeXL}/100% 'Jaldi', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

.pager {
  text-align: center;
  position: relative;
  width: 100%;
}

.pager-headline {
  margin-top: 0.6rem;
}

.pager-nav {
  margin-top: 16px;
}

.pager-link {
  background: url(//my-assets.netlify.com/codepen/dailyui-002/ico_arrow.svg);
  display: inline-block;
  height: 14px;
  margin-right: 5px;
  top: 3px;
  position: relative;
  width: 15px;
}

.pager-link-isNext {
  background: url(//my-assets.netlify.com/codepen/dailyui-002/ico_arrowRight.svg);
  margin-left: 5px;
  margin-right: 0px;
  opacity: 0.25;
}

.payment {
  margin-top: 36px;
  padding: 0 10px;
}

.payment-cardimg {
  height: 23px;
  position: absolute;
  right: 19px;
  top: 16px;
  width: 96px;
}

.payment-headline {
  margin-bottom: 10px;
}

.payment-radioGroup {
  margin-bottom: 10px;
}

.payment-radioGroup > input {
  position: absolute;
  visibility: hidden;
}

.payment-radioGroup > input:checked ~ label::before {
  border: 7px solid $brandcolor;
}

.payment-radioGroup > input:checked ~ label {
  font: 700 1rem 'Jaldi', sans-serif;
}

.payment-radioGroup > label {
  cursor: pointer;
  display: block;
  position: relative;
  top: -2px;
}

.payment-radioGroup > label::before {
  transition: 100ms ease-out;
  box-sizing: border-box;
  background: #fff;
  border: 2px solid $grey;
  border-radius: 100%;
  content: "";
  display: inline-block;
  height: 22px;
  margin-right: 10px;
  position: relative;
  top: 6px;
  width: 22px;
}

.payment-tab {
  background: $light-grey;
  border: 2px solid $light-grey;
  box-sizing: border-box;
  height: 60px;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  transition: 150ms ease-out;
  width: 100%;
}

.payment-tab:first-of-type {
  border-radius: 5px 5px 0 0;
}

.payment-tab:last-of-type {
  border-radius: 0 0 5px 5px;
}

.payment-tab-isActive {
  background: #ffffff;
}

.payment-tab-isActive:nth-of-type(1) {
  height: 140px;
}

.payment-tab-isActive:nth-of-type(2) {
  height: 307px;
}

.textInputGroup > input {
  border: 2px solid $grey;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font: 400 $sizeBase 'Jaldi', sans-serif;
  height: 50px;
  margin: -15px auto 5px;
  padding: 5px 10px 0 11px;
  transition: 100ms ease-out;
  width: 100%;
}

.textInputGroup > input:focus {
  border: 2px solid $brandcolor;
  outline: 0;
}

.textInputGroup > label {
  background: #ffffff;
  display: inline-block;
  font: 700 $sizeBase 'Jaldi', sans-serif;
  margin: 5px auto auto 8px;
  padding: 0px 5px;
}

.textInputGroup-halfWidth {
  float: left;
  width: 48%;
}

.textInputGroup-halfWidthRight {
  float: right;
  width: 48%;
}
